
/*
input:invalid {
	border: 2px dashed red;
}

input:valid {
	border: 2px solid black;
}
*/

.error {
	color: #ce4e4e;
	font-size: 14px;

}

.form-box {
	border: 2px solid black;
	border-radius: 8px;
	padding:5%;
	margin-top:80px;
}

.form-line {
	margin-bottom: 25px;
}

.form-input {
	border-radius: 8px;
	border: 1px solid #ccc;
	padding: 5px 5px 5px 15px;
	width: 100%;
}

.form-input:focus {
	border: 1px solid #B0CFE0;
	box-shadow: 0px 0px 5px #B0CFE0;
}
